# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
weather_csv = "Output/weather_data.csv"
df = pd.read_csv(weather_csv)
df.head()

,Unnamed: 0,City,lat,lon,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Hermanus,-34.42,19.23,9.44,83,100,2.24,ZA,1594695245
1,1,Port Elizabeth,-33.92,25.57,10.00,81,40,13.90,ZA,1594695280
2,2,Pangoa,-12.12,-73.00,20.10,91,51,1.17,PE,1594695280
3,3,Mataura,-46.19,168.86,8.14,83,92,1.96,NZ,1594695280
4,4,Puerto Ayora,-0.74,-90.35,19.44,92,21,2.92,EC,1594695281

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
gmaps.configure(api_key=g_key)
locations = df[["lat", "lon"]]
humidity = df["Humidity"]

In [4]:
fig = gmaps.figure()

heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity=100,
                                 point_radius=2.5)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [5]:
hotel_df = df.loc[df["Humidity"] < 30]
hotel_df = hotel_df.loc[hotel_df["Max Temp"] < 30]
hotel_df = hotel_df.loc[hotel_df["Max Temp"] > 20]
hotel_df = hotel_df.loc[hotel_df["Cloudiness"] == 0]


len(hotel_df)
hotel_df

,Unnamed: 0,City,lat,lon,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
6,6,Port Hedland,-20.32,118.57,27.00,15,0,5.10,AU,1594695281
50,50,Hesperia,34.43,-117.30,28.89,21,0,6.71,US,1594695167
170,170,MahrÄ«z,31.59,54.43,26.16,19,0,2.08,IR,1594695829
280,280,Karratha,-20.74,116.85,26.56,25,0,6.58,AU,1594695661
472,472,Roebourne,-20.78,117.13,26.01,24,0,6.14,AU,1594695913
551,551,Kununurra,-15.77,128.73,23.00,18,0,4.10,AU,1594695934
558,558,ValentÃ­n GÃ³mez FarÃ­as,28.22,-106.58,28.50,21,0,3.24,MX,1594695936

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [6]:
key = "hotel"

hotelName = []
hotelLat =  []
hotelLon = []
hotelCity = []
hotelCountry = []
hotels_df = pd.DataFrame(columns=['Hotel Name', 'City', 'Country'])

for index, row in hotel_df.iterrows():
    lat = row[2]
    lon = row[3]
    loc_list = (f'{lat}, {lon}')
    city = row[1]
    country = row[8]
    
    params = {
        'location':loc_list,
        'key':g_key,
        'keyword':key,
        'radius':5000
    }
    
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    response = requests.get(base_url, params=params)
    
    hotels = response.json()
    results = hotels['results']
    try:
        hotelName.append(results[0]['name'])
        hotelLat.append(results[0]['geometry']['location']['lat'])
        hotelLon.append(results[0]['geometry']['location']['lng'])
        hotelCity.append(city)
        hotelCountry.append(country)        
        print(results[0]['name'], results[0]['geometry']['location']['lat'], results[0]['geometry']['location']['lng'])
    except IndexError:
        print('No hotel found.')
      
hotels_df["Hotel Name"] = hotelName
hotels_df['Hotel Latitude'] = hotelLat
hotels_df['Hotel Longitude'] = hotelLon
hotels_df['City'] = hotelCity
hotels_df['Country'] = hotelCountry

Hospitality Port Hedland -20.3091402 118.6069696
Hawthorn Suites by Wyndham Victorville 34.4640373 -117.3536422
Accommodation Center Of Sarayejahangard 31.5592652 54.4385443
Latitude20 The Dunes Apartments -20.7244552 116.8660446
Latitude20 Roebourne Village -20.7544269 117.1457054
Freshwater East Kimberley Apartments | Kununurra Accommodation -15.7837588 128.7355459
No hotel found.

In [7]:
hotels_df

,Hotel Name,Lat,Lng,City,Country,Hotel Latitude,Hotel Longitude
0,Hospitality Port Hedland,NaN,NaN,Port Hedland,AU,-20.309140,118.606970
1,Hawthorn Suites by Wyndham Victorville,NaN,NaN,Hesperia,US,34.464037,-117.353642
2,Accommodation Center Of Sarayejahangard,NaN,NaN,MahrÄ«z,IR,31.559265,54.438544
3,Latitude20 The Dunes Apartments,NaN,NaN,Karratha,AU,-20.724455,116.866045
4,Latitude20 Roebourne Village,NaN,NaN,Roebourne,AU,-20.754427,117.145705
5,Freshwater East Kimberley Apartments | Kununur...,NaN,NaN,Kununurra,AU,-15.783759,128.735546

In [12]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotels_df.iterrows()]
locations = hotels_df[["Hotel Latitude", "Hotel Longitude"]]

In [20]:
# Add marker layer ontop of heat map
markers = gmaps.marker_layer(locations)
fig.add_layer(markers)
# Display figure

fig

Figure(layout=FigureLayout(height='420px'))